// Header
$header-height: 50px;

// Menu
$menu-width-closed: 50px;
$menu-width-opened: 180px;

// Layout
$layout-content-padding: 40px;
$layout-content-height: 41px;

// grid 
$grid-line-height: 58px;

//panel
$panel-padding: 32px;
$panel-item-gap: 20px;
$panel-item-rowgap: 16px;
$panel-item-margin: 10px;

// MessageBar 
$MessageBar-icon-margin: 12px;

$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$size_18: 18px;