@import "./colors";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
}

a.link {
  text-decoration: none;
  color: $themePrimary;

  &:active,
  &:hover {
    text-decoration: underline;
    color: $themeDarker;
  }

  &:focus {
    color: $themePrimary;
  }
}
