unsafe-perm=true
strict-ssl=false

registry=https://pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/registry/                         
always-auth=true

; begin auth token
//pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/registry/:username=mshawky0447
//pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/registry/:_password=[b2RobHVreGJ4YTI3cXdjeWhib3V0b3N5dWZyeXY2eW5rMjc3NjdxNzdscHdvc3E3eW93YQ==]
//pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/:username=mshawky0447
//pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/:_password=[b2RobHVreGJ4YTI3cXdjeWhib3V0b3N5dWZyeXY2eW5rMjc3NjdxNzdscHdvc3E3eW93YQ==]
//pkgs.dev.azure.com/mshawky0447/_packaging/mshawky0447/npm/:email=npm requires email to be set but doesn't use the value
; end auth token